<section class="container">
    <div class="top">
        <div class="direction">
            <span>თბილისი</span>
            <span><img style="width:18px;" src="../../assets/img&icon/vector.png" alt=""></span>
            <span>პარიზი</span>
        </div>
        <div class="design">
            <div>10:45</div>
            <div class="design__fly">
                <div class="design__circule"></div>
                <div class="design__line"></div>
                <img src="../../assets/img&icon/Fly.geLogo.png" alt="">
                <div class="design__line"></div>
                <div class="design__circule"></div>
            </div>
            <div>03:10</div>
        </div>
        <div class="info">
            <div>1 გაჩერება</div>
            <div>ფრენა: 5სთ 20</div>
        </div>
    </div>
    <div class="bottom">
        <div class="dashed"></div>
        <div class="bottom__title">
            <div class="bottom__title-price">640₾</div>
            <div class="bottom__title-intallment">განვადება თვეში: 72.33₾-დან</div>
            <div class="bottom__title-more"><a href="#"> ვრცლად</a></div>
        </div>
        
    </div>
</section>