<section class="content">
<div class="title">
    <div class="date">
<div class="date__text">ორშაბათი, 1 იანვ</div>
<div class="date__info">
    <span>გამზგავრება</span>
    <img src="../../assets/img&icon/swan.png" alt="">
    <div>+2</div>
</div>
    </div>
    <div class="info">
        <div class="leave">
            <div class="leave__time">14:00</div>
            <div class="leave__place">თბილისი (TBS)</div>
        </div>
        <div class="logo">
            <div class="logo__design">
                <img src="../../assets/img&icon/Fly.geLogo.png" alt="">
                <div class="logo__design-decor">
                    <div class="logo__design-line"></div>
                    <div class="logo__design-circle"></div>
                    <div class="logo__design-line"></div>
                    <div class="logo__design-circle"></div>
                </div>
            </div>
            <div class="logo__info">
                <div>1 გაჩერება</div>
                <div>ჯამში: 3 სთ, 20</div>
            </div>
        </div>
        <div class="arrive">
            <div class="arrive__time">09:10</div>
            <div class="arrive__place">პარიზი (CDG)</div>
        </div>
    </div>
    
    <div class="time__general">
        <span><img style="width: 17.5px;" src="../../assets/img&icon/time.png" alt=""></span>
        <span>8 საათი, 20 წუთი</span>
    </div>
</div>
<div class="title">
    <div class="date">
        <div class="date__text">შაბათი, 29 აპრ</div>
        <div class="date__info">
            <span>დაბრუნება</span>
            <img src="../../assets/img&icon/swan.png" alt="">
            <div>+2</div>
        </div>
    </div>
    <div class="info">
        <div class="leave">
            <div class="leave__time">14:00</div>
            <div class="leave__place">ნიუ იორკი (NY)</div>
        </div>
        <div class="logo">
            <div class="logo__design">
                <img src="../../assets/img&icon/Fly.geLogo.png" alt="">
                <div class="logo__design-decor">
                    <div class="logo__design-line"></div>
                    <div class="logo__design-circle"></div>
                    <div class="logo__design-line-mini1"></div>
                    <div class="logo__design-circle"></div>
                    <div class="logo__design-line-mini2"></div>
                    <div class="logo__design-circle"></div>
                </div>
            </div>
            <div class="logo__info">
                <div>2 გაჩერება</div>
                <div>ჯამში: 3 სთ, 20</div>
            </div>
        </div>
        <div class="arrive">
            <div class="arrive__time">09:10</div>
            <div class="arrive__place">პარიზი (CDG)</div>
        </div>
    </div>
    
    <div class="time__general time">
        <span><img style="width: 17.5px;" src="../../assets/img&icon/time.png" alt=""></span>
        <span>8 საათი, 20 წუთი</span>
    </div>
</div>
<div class="addInfo">
    <div class="addInfo1">ეკონომ კლასი</div>
    <div class="addInfo1">2 მგზავრი</div>
    <div class="addInfo1">20კგ ბარგი</div>
</div>
</section>
